.a {
    color: rgb(190, 184, 184);
}

.page {
    background-color: #f6f2f2;
    height: 100%
}

.tab {
    color: #97fb57;
    font-size: large;
}

.activeTab {
    background-color: #f6f2f2!important;
    color: #151515!important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(151, 251, 87, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.squadra  {
    color: #97fb57;
}

.nomeSquadra {
    text-align: center;
}

.cardStyle{
    color: #97fb57;
    background-color: #151515;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.5)
}

.page {
  background-color: #f6f2f2;
  min-height: 100%
}

.footer{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}